<h1>Current players</h1>8

<table class="table">
  <thead>
    <tr>
      <th>Name</th>
      <th>Hostname</th>
      <th>Level</th>
      <th>Score</th>
      <th></th>
    </tr>
  </thead>
  <tbody>
<%= for player<- @players do %>
    <tr>
      <td><%= player.name %> </td>
      <td><%= player.hostname %> </td>
      <td><%= player.level %> </td>
      <td><%= player.score %> </td>
      <td><%= link "See", to: player_path(@conn, :show, player.id) %></td>
    </tr>
<% end %>
  </tbody>
</table>

<div class="centered margin-2">
<%= button("Join session", to: player_path(@conn, :new), method: "get", class: "btn btn-primary") %>
</div>
