<h1>Player: <%= @player.name %></h1>

<ul>

  <li>
    <strong>Hostname:</strong>
    <%= @player.hostname %>
  </li>

  <li>
    <strong>Level:</strong>
    <%= @player.level %>
  </li>

  <li>
    <strong>Score:</strong>
    <%= @player.score %>
  </li>



</ul>

<%= if @player.last_result != nil do %>
<%= render "results.html", result: @player.last_result %>
<% end %>

<%= button("Check", to: player_path(@conn, :check, @id), class: "btn") %>

<span><%= link "Back", to: player_path(@conn, :index) %></span>
