<div class="block specs">
<h3>User stories</h3>

<%= for {spec, level}  <- Enum.with_index(@specs) do %>

<div class="level-spec">
<b>
    Level <%= level %>
</b>
<div class="level-spec-content">
<%= {:safe, Earmark.as_html!(spec)} %>
</div>
</div>
<% end %>

</div>
