/* This file is for your main application css. */

body {
	background: lightgray;
	display: flex;
	flex: 1;
}

main {
}

.player-form {
	margin: 8px;
}

.player-form div {
	padding: 8px;
	display: flex;
}

.player-form label {
	width: 25%;
}

.block {
	border-radius: 5px;
	padding: 8px;
	margin: 8px 0px;
	background-color: aliceblue;
}

.result-line {
	display: flex;
}

.result-line-level {
	margin-right: 32px;
	width: 5rem;
}

.result-line-status {
	width: 20%;
}

.error {
	color: #cd1c1a;
}

.ok {
	color: #1db91f;
}

.result-line-message {
	/*width: 60%;*/
}

.player-header {
	background: #EEEEEE;
	padding: 1rem;
	box-shadow: 4px 4px 4px #999999;
	border-radius: 5px;
	margin-bottom: 1rem;
}

.row {
	display: flex;
	flex-direction: row;
	align-items: center;
}

.space-between {
	justify-content: space-between;
}

.player-title {
	font-size: 2rem;
	margin-bottom: 8px;
}

.player-title-score {
	color: steelblue;
}

.centered {
	display: flex;
	justify-content: center;
}

.check-button {
	font-size: 2rem;
	height: 3em;
	width: 10em;
}

.container {

}

.level-spec-content {
	margin: 24px;
}
