/* This file is for your main application css. */

body {
	background: lightgray;
	/*border: solid 1px red;*/
	display: flex;
	flex: 1;
}

main {
	/*border: solid 1px #4cae4c;*/
}

.check-result {
}

.block {
	border: 1px solid #1b6d85;
	box-shadow: 5px 5px 5px #1b6d85;
	border-radius: 5px;
	padding: 8px;
	margin: 8px 0px;
}

.result-line {
	display: flex;
}

.result-line-level {
	margin-right: 32px;
	width: 5rem;
}

.result-line-status {
	width: 20%;
}

.error{
	color: #cd1c1a;
}

.ok{
	color: #1db91f;
}

.result-line-message {
	/*width: 60%;*/
}
